@using GameCatalogue.Services.Data.Interfaces;
@using GameCatalogue.Web.Infrastructure;
@model GameAllViewModel

@inject IDeveloperService DeveloperService
@{
	bool isUserDeveloper = await DeveloperService.DeveloperExistsByUserId(this.User.GetId());
	bool isDeveloperProducer = await DeveloperService.HasGameWithId(this.User.GetId(), Model.Id);
}

<div class="col-md-4">
	<div class="card mb-3">
		<img class="card-img-top" src="@Model.ImageURL" alt="Game Image">
		<div class="card-body text-center">
			<h4>@Model.Name</h4>
			<br />
			<a asp-controller="Game" asp-action="Details" asp-route-id="@Model.Id"
				class="btn btn-success">Details</a>
			@if (this.User.Identity?.IsAuthenticated ?? false)
			{
				@if ((isUserDeveloper && isDeveloperProducer) || this.User.IsAdmin())
				{
					<a asp-controller="Game" asp-action="Edit" asp-route-id="@Model.Id"
					class="btn btn-warning">Edit</a>
					<a asp-controller="Game" asp-action="Delete" asp-route-id="@Model.Id"
					class="btn btn-danger">Delete</a>
				}
				<p></p>
			}
		</div>
	</div>
</div>

