@using GameCatalogue.Services.Data.Interfaces;
@using GameCatalogue.Web.Infrastructure;
@model GuideDetailsViewModel

@{
	
	ViewBag.Title = "Guide Details";
}


<h2 class="text-center" style="font-size:45px;">@Model.Title</h2>
<hr />

<div class="container" style="display:inline">
	<p class="" style="font-size:20px;">@Model.Content</p>
	<p></p>
	<p class="card-text">Writen by: @Model.AuthorName</p>
	<div class="form-inline">
		@if (this.User.Identity?.IsAuthenticated ?? false)
		{
			@if (Model.AuthorName == this.User.Identity.Name || this.User.IsAdmin())
			{
				<a class="btn btn-warning" asp-controller="Guide" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
				<a class="ml-2 btn btn-danger" asp-controller="Guide" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
			}
		}
	</div>
</div>


